main{
    width: 80%;
    height: 100%;
    background-color: var(--black);
    color: var(--font);
    overflow-y: scroll;
}

main::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

main::-webkit-scrollbar-thumb{
    background-color: var(--green);
}

.headings{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    
    & h1{
        font-size: 3rem;
        color: var(--font);
    }
}

.headings:after{
    content:'';
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--gray);
}

.hero{
    width: 100%;
    justify-content: space-between;
    padding: 10% 2%;

    /******* Content *********/
    & .content{
        width: 40%; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        
        & h1{
            font-size: 5rem;
            line-height: 5rem;
            font-weight: 300;
            font-weight: bold;

            & span{
                font-weight: 400;
            }
        }

        & .hero_text{
            font-size: 1.5rem;
            color: var(--pink);
        }

        
        & p{
            color:var(--gray) ;
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
    

    /******* Hero btns *********/
    & .hero_btns{
        gap: 20px;

        & button{
            width: 150px;
            height: 50px;
            justify-content: center;
            border-radius: 50px;
            background-color: var(--green);
            color: var(--black);
            border: none;
            font-size: 1.2rem;
            position: relative;
            z-index: 1;
        }

        & .btn2{
            background-color: var(--pink);
        }

        & .btn1:hover{
            background-color: var(--black);
            border: 1px solid var(--green);
            filter: drop-shadow(1px 1px 20px var(--green));
            color: var(--green);
        }

        & .btn2:hover{
            background-color: var(--black);
            border: 1px solid var(--pink);
            filter: drop-shadow(1px 1px 20px var(--pink));
            color: var(--pink);
        }
    }


    /******* Hero imgs *********/
    & .hero_img{
        width: 55%;
        position: relative;

        & .rotate_elem1{
            position: absolute;
            top: -10%;
            left: -13%;
            width: 100px;
            height: 100px;
            animation: rotate 3s infinite forwards linear;
        }

        & .rotate_elem2{
            position: absolute;
            top: 10%;
            left: 10%;
            width: 50px;
            height: 50px;
            animation: rotate 3s infinite forwards linear;
        }
    }
    

    /******* user *********/
    & .user_info{
        justify-content: space-between;
        gap: 20px;

        & p{
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    & .user_det{
        position: absolute;
        top: 80%;
        left: 10%;
        width: 330px;
        background-color: var(--lightBlack);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: 2% 1%;
        border-radius: 10px;
        
        & .user_imgs{
            gap: 1px;
        }

        & .user_img{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            overflow: hidden;
            filter: grayscale(100); /* لونها الرمادي */
            transition: 0.3 ease;
        }

        & .user_img:hover{
            filter: grayscale(0); /* ترجع ملونة */
            cursor: pointer;
        }

        & h3{
            font-weight: 400;
        }
    }
}




.hero_text {
    animation: hero_text-animation 1s steps(5, start) infinite;
}

@keyframes hero_text-animation {
    to {
        visibility: hidden;
    }
}

@keyframes rotate {
    100%{
        transform: rotate(360deg); /* بتلف */
    }
}


.head_text{
    color: var(--font);
    font-size: 400;
    padding-left: 2%;
    margin-left: 30px;
}

.slider{
    height: 50px;
    margin: auto;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    transform: translateY(30px);

    & .slide_track{
        width: calc(250px * 40);
        animation: scroll 40s forwards infinite;
        position: relative;

        & .slide{
            width: 150px;
            height: 60px;
            padding: 15px;
            margin: 0 30px;
        }
    }
}

@keyframes scroll {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(calc(-150px * 20));
    }
}


/* About section  */

.about{
        flex-direction: column;

        & p{
            font-size: 1.2rem;
            font-weight: 300;
            color: var(--gray);
            letter-spacing: 0.07rem;

            & .myname{
                color: var(--font);
            }

            & span{
                color: var(--yellow);
            }
        }

        & .about_info{
            width: 100%;
            color:var(--font);
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 50px;
            margin-top: 50px;
            
            & .info{
                display: flex;
                flex-direction: column;
                gap: 10px;

                & h2 span{
                    color: var(--gray);
                    font-weight: 300;
                    font-size: 1.3rem;
                }
            }

            & .info_det{
                display: flex;
                flex-direction: column;
                gap: 10px;

                & h2{
                    font-weight: 100;
                    font-size: 1.5rem;
    
                    & span{
                        margin: 0 10px;
                        color: var(--gray);
                    }
                }
            }
        }
}

/* Education & Experience  */

/* Education section  */
.education_experience{
    width: 100%;
    gap: 30px;
    color: var(--font);

    & .education_cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        margin-top: 40px;

        & .eduction_card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        padding-left: 5%;
            
        & h2{
            font-size: 1,5rem;
            font-weight: 200;
            transition: .3s;
        }

        & h3{
            font-size: 1.3rem;
            font-weight: 300;
            color: var(--gray);
            transition: .3s;
        }

        & p{
            color: var(--gray);
            font-size: 1rem;
            font-weight: 300;
            transition: .3s;
        }
        }

        & .eduction_card:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1.5px;
            height: 100%;
            background-color: var(--font);
        }

        & .eduction_card:before{
            content: '';
            position: absolute;
            top: 0;
            left: -3%;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: var(--pink);
            z-index: 1;
            border: 2px solid var(--font);
        }

        & .eduction_card:hover h2{
            color: var(--pink);
        }

        & .eduction_card:hover h3{
            color: var(--font);
        }

        & .eduction_card:hover p{
            color: var(--font);
        }
    }


    
}


