@media(width > 1200px){
    .content{
        width: 40%;
    }

    .skills_container{
        grid-template-columns: repeat(4, 1fr);
    }

    .design_skills_container{
        grid-template-columns: repeat(5, 1fr);
    }

    .portfolio_cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .box_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .blog_img{
        width: 70%;
    }
} 


@media (max-width:1200px){
    .side_bar{
        position: absolute;
        top: 0;
        left: -100%;
        width: 30%;
        z-index: 999;
        opacity: 0;
        transition: .6s;
    }

    .bars{
        cursor: pointer;
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
        border: 1px solid var(--black);
        width: 50px;
        justify-content: center;
        font-size: 2rem;
    }

    .show_side_bar{
        opacity: 1;
        left: 0;
    }

    .container{
        width: 100vw;
    }

    .skills_container{
        grid-template-columns: repeat(4,1fr);
    }

    .design_skills_container{
        grid-template-columns: repeat(5, 1fr);
    }

    .portfolio_cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .box_container{
        grid-template-columns: repeat(2, 1fr);
    }
};

@media (max-width:992px){
    .side_bar{
        width: 35%;
    }

    .hero{
        flex-direction: column-reverse;
    }

    .content{
        width: 100%;
    }

    .user_det{
        display: none;
    }

    .hero_img{
        width: 80%;
    }

    .education_card{
        padding-left: 10%;
    }

    .design_skills_container{
        grid-template-columns: repeat(3,1fr);
    }

    .blog_box{
        flex-direction: column;
    }

    .contact_container{
        flex-direction: column;
    }
}

@media (max-width:768px){
    .side_bar{
        width: 48%;
    }

    .hero{
        flex-direction: column-reverse;
    }

    .content{
        width: 100%;
    }

    .user_det{
        display: none;
    }

    .hero_img{
        width: 80%;
    }


    .content h1{
        font-size: 5rem;
    }

    .portfolio_cards{
        grid-template-columns: repeat(2,1fr);
    }

    .blog_box{
        flex-direction: column;
    }

    .blog_img{
        width: 100%;
    }

    .contact_container{
        flex-direction: column;
    }
}

@media (max-width:576px){
    .side_bar{
        width: 65%;
    }

    .info h2{
        font-size: 1.2rem;
    }

    .info_det h2{
        font-size: 1.1rem;
        font-weight: 200;
    }

    .education_experience{
        flex-direction: column;
    }

    .skills_container{
        grid-template-columns: repeat(2,1fr);
    }

    .design_skills_container{
        grid-template-columns: repeat(1,1fr);
    }

    .skills_info{
        text-align: center;
    }

    .box_container{
        grid-template-columns: repeat(1,1fr);
    }

    .portfolio_cards{
        grid-template-columns: repeat(1,1fr);
    }
}
