@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black:#0F141c;
    --lightBlack:rgba(41, 41, 41, 0.823);
    --font:white;
    --pink:#FF759C;
    --opacityPink:#ff759c75;
    --darkpink:rgb(141, 87, 129);
    --darkgreen:rgba(2, 175, 132, 0.2);
    --green:#00cc97;
    --mainPurple:rgb(163, 81, 226);
    --yellow:rgb(247, 247, 110);
    --darkyellow:rgb(196, 196, 90);
    --purple:plum;
    --darkpurple:rgb(95, 66, 95);
    --blue:rgb(40, 144, 249);
    --darkblue:rgb(12, 79, 145);
    --red:red
    --border:rgba(131 , 131 , 131 , 0.5);
    --gray:gray;
    --opacityGray:rgba(128, 128, 128, 0.356);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body{
    /* height: 100vh; */
    background-image: url(./images/bg.png);
    background-color: var(--black);
    background-position: center center;
    background-size: contain;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: var(--font);
}

body:after{
    content: '';
    position: absolute;
    background-color: #0f141ce4;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

section{
    justify-content: center;
    width: 100%;
    padding: 5% 8%;
}

img{
    width: 100%;
    height: 100%;
}

html{
    font-family:system-ui, -apple-system;
    box-sizing: border-box;
    scroll-behavior: smooth; /*  بيرجع الاسكرول بشكل اسموز */
}

*, *:before, *:after {box-sizing: inherit;}

.flex{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.flex_start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

button:hover, a:hover {
    cursor: pointer; /* بنغير شكل الماوس */
}

/* ================== */

